/* FLEX POSITIONNING */

%flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



%flex-between-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

%flex-between-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

%align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%align-center-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTON */

%pink-button{
    background: linear-gradient(#EE74DA, #9356DC);
    width: 200px;
    height: 50px;
    border-radius: 24px;
    border: none;
    color: white;
    box-shadow: $shadow-button;
    outline: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
        &:hover{
            transition: all 0.5s ease-out;
            background: linear-gradient(#ee75da, #9559df);
            box-shadow: 0px 12px 15px -4px #7d7d7d;;
        }

    
}

%menu-container{
    background-color: $color-backlightgrey;
    height: 66px;
    box-shadow: $shadow-button;
    border-radius: 18px;
    padding: 0 10px;
    margin: 20px 12px;
    @extend %flex-between-row;
    font-weight: bold;
    font-size: 0.9em;
    color: black;
}

