

$mobile-margin: 20px 24px;

/* PRIMARY */

$color-backgrey: #eaeaea;
$color-backlightgrey: #f6f6f6;
$tertiaire: #99E2D0;

/* POLICES */

$texte-font: "roboto";
$brandname-font: "shrikhand";




/* box-shadow */

$shadow-button: 0px 8px 16px -13px #7d7d7d;



$button-steps: "btn-navigation_step-1","btn-navigation_step-2", "btn-navigation_step-3"



