@font-face {
    font-family: "shrikhand", "roboto";
    src: url("fonts/Shrikhand-Regular.otf");
    src: url("fonts/Roboto-Regular.ttf")
}
@import "./_variables.scss";
@import "./_placeholder.scss";

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


body{
    z-index: 100;
    margin: 0;
    width: auto;
    font-family: "roboto";
    
}
header{
    height: 100%;
    width: 100%;
    
}

.logo{
    font-family: "shrikhand";
    font-size: 0.9em;
    text-align: center;
    padding-top: 9px;
    margin-bottom: 3px;
    font-weight: 100;
    box-shadow: 0px 0px 8px 0px #7d7d7d;
    display: block;
    
    
}

.input-area{
    color: $color-backgrey;
    width: 100%;
    height: auto;
}

.input-locality{
    
    
    text-align: center;
    height:100%;
    font-family: $texte-font;
    font-weight: 1000;
    padding: 10px 0;
    background-color: $color-backgrey;
    border: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    outline: none;

}



.exploration{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: $color-backlightgrey;
    z-index: 3;
    text-align: center;
    
    
        h2, h3, {
            margin: 15px 0 20px 0;
            font-weight: 1000;
            padding: 0 77px;
            margin-bottom: 10px;
            }

        p{
            padding: 0 18px;
            margin-bottom: 40px;
        }

}

.exploration-title{
    @extend %flex-center-column;
    padding: 33px 0 10px 0;
  
}
.exploration-subtitle{
    @extend %flex-center-column;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.exploration-button{
    @extend %flex-center-column;
}

.pink-btn{
    @extend %pink-button;   
}

@for $i from 1 through 3 {
    .btn-navigation_step-#{$i} {
        background-color: $color-backlightgrey;
        height: 66px;
        box-shadow: $shadow-button;
        border-radius: 18px;
        padding: 0 10px;
        margin: 10px 0;
        @extend %align-center;
        align-items: center;
        padding-right: 10px;
        font-weight: bold;
        font-size: 0.9em;
        color: black;
        border: none;
            &:hover{
                background-color: #F5EDFF;
                transition: 0.25s;
            }
            .fas{
                margin: 0 30px;
                
            }
    }
}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
    margin: 10px 14px;
   
}

.card-bloc{
    background-color: $color-backlightgrey;
    height: 100%;
    padding-bottom: 50px;
}

.restaurant-card{
    background-color: black;
    height: 150px;
    margin: $mobile-margin;
    border-radius: 19px;

}

@for $i from 1 through 4 {
    .restaurant-card-#{$i} {
    height: 252px;
    background-color: white;
    margin: $mobile-margin;
    border-radius: 19px;
    overflow: hidden;
        img {
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 70%;
            }
    }
}

.restaurant-name{
    font-size: 1.4em;
    line-height: 25px;
    padding: 9px 0 0 14px;
}

footer{
    
    background-color: #353535;
    color: white;
    padding: 20px;
    z-index: 10000;
    position: relative;
    

    

        ul{
            list-style-type: none;
            li{
                margin-top: 10px;
            }
            
        }
        h1{
            font-size: 1.3em;
            font-family: $brandname-font;
            font-weight: 400;
        }
}


.main-container{
    display: flex;
    flex-direction: column;
    background-color: $color-backgrey;
    height: 100%;
    
}
/* menu français*/

.menu-banner{
    overflow: hidden;
    img{
        object-fit: cover;
        height: auto;
        width: 100%;
    
    }

}

.main-menu{
    height: 100%;
    background-color: $color-backgrey;
    border-radius: 34px;
    z-index: 2;
    position: relative;
    
    
    top: -107px;
    width: 100%;
    height: 100%;
    
        h3{
            font-family: $brandname-font;
            padding: 23px 0 0 15px;
            
        }
        h5{
            margin: 23px 0 0 15px;
            border-bottom: 3px solid $tertiaire;

        }

}


/* vignette des menus */
@for $i from 1 through 4 {
    .starter-#{$i},.main_course-#{$i}, .dessert-#{$i} {
        @extend %menu-container;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;    
    }

    .starter-1,
    .starter-2,
    .starter-3, 
    .starter-4, 
    .main_course-1,
    .main_course-2, 
    .main_course-3, 
    .dessert-1, 
    .dessert-2, 
    .dessert-3{
        animation: fadeIn 0.60s ease-out both;
        opacity: 0; 
    }

    .starter-1{
        animation-delay: 0.25s;
    }
    .starter-2{
        animation-delay: 0.35s;
    }
    .starter-3{
        animation-delay: 0.45s;
    }

    .starter-4{
        animation-delay: 0.50s;
    }

    .main_course-1{
        animation-delay: 0.55s;
    }
    .main_course-2{
        animation-delay: 0.65s;
    }
    .main_course-3{
        animation-delay: 0.75s;
    }

    .dessert-1{
        animation-delay: 0.85s;
    }
    .dessert-2{
        animation-delay: 0.95s;
    }
    .dessert-3{
        animation-delay: 1.05s;
    }
  

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, +15%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
         
}

.starter-container, .main_course-container, .dessert-container {
    margin-bottom: 50px;
}

.order-section{
   @extend %flex-center-column;
   margin: 15px 0 -14px 0;
}

.item-subtitle, .item-title{
    display: flex;
    justify-content: space-between;
    width:100%;
}



