@font-face {
    font-family: "shrikhand", "roboto";
    src: url("fonts/Shrikhand-Regular.otf");
    src: url("fonts/Roboto-Regular.ttf")
}
@import "./_variables.scss";
@import "./_placeholder.scss";

* {
    margin: 0;
    padding: 0;
}

a,h1 {
    text-decoration: none;
    color: black;
}


body{
    z-index: 100;
    margin: 0;
    width: auto;
    font-family: "roboto";
}

    

header{
    height: 100%;
    width: 100%;
    background-color: $color-backgrey;
    
}

.logo{
    font-family: "shrikhand";
    font-size: 0.9em;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    font-weight: 100;
    display: block;
    background-color: $color-backlightgrey;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-right: 20px;
        a{
            display: flex;
            padding-right: 43px;
            align-items: center;
            background-color: $color-backgrey;
        }

}

.input-area{
    color: $color-backgrey;
    width: 100%;
    height: auto;
}

.input-locality{
    
    
    
    height: 100%;
    font-family: "roboto";
    font-weight: 1000;
    padding: 12px 0;
    background-color: #eaeaea;
    border: none;
    /* margin: 0 15px; */
    /* padding-left: 10px; */
    outline: none;

}

.searchbox{
    background-color: #eaeaea;
    display: block;
    text-align: center;
    box-shadow: 0px 7px 9px 0px;
    

        .fas{
            padding-left: 39px;
            margin-right: 10px;
        }
}





.exploration{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: $color-backlightgrey;
    z-index: 3;
    text-align: center;
    
    
    
        h2, h3,{
            margin: 0 0 20px 0;
            font-weight: 700;
            padding: 28px 77px 0 77px;
            margin-bottom: 10px;
            }

        p{
            padding: 0 18px;
            margin-bottom: 40px;
        }

}

.exploration-title{
    @extend %flex-center-column;
    padding: 33px 0 10px 0;
  
}
.exploration-subtitle{
    @extend %flex-center-column;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.exploration-button{
    @extend %flex-center-column;
}

.pink-btn{
    @extend %pink-button;
    margin: 40px auto 0;   
        
}

@for $i from 1 through 3 {
    .btn-navigation_step-#{$i} {
        background-color: $color-backlightgrey;
        height: 66px;
        box-shadow: $shadow-button;
        border-radius: 18px;
        display: flex;
        justify-content: left;
        padding: 0 10px;
        margin: 10px 0;
        position: relative;
        align-items: center;
        padding-right: 10px;
        font-weight: bold;
        font-size: 0.9em;
        color: black;
        border: none;
        outline: none;
            &:hover{
                background-color: $color-backlight-hover;
                transition: 0.25s;
                box-shadow: $shadow-button-hover;
            }
            .fas{
                margin: 0 30px;                
            }

            
                .step-number {
                    position: absolute;
                    background-color: $primary;
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: -10px;
                }
            
                

            
    }
}





.steps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
    margin: 10px 14px;
        h2{
            margin: 30px 0 20px 0;
        }
   
}

.card-bloc{
    background-color: $color-backlightgrey;
    height: 100%;
    padding-bottom: 50px;
}

.restaurant-card{
    background-color: black;
    height: 150px;
    margin: $mobile-margin;
    border-radius: 19px;

}

@for $i from 1 through 4 {
    .restaurant-card-#{$i} {
    height: 252px;
    position: relative;
    background-color: white;
    border-radius: 19px;
    overflow: hidden;
    box-shadow: $shadow-button;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 70% 30%;
    width: 90%;
    margin: 25px auto 0 auto;
        img {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
            }
        h4{
            font-weight: 400;
            opacity: 0.8;
        }
        .far{
            width: 0;
            height: 0;
            grid-row-start: 2;
            padding: 28px 0 0 67px;
            font-weight: 100;
            transition: font-weight 400ms ease-in-out;
            will-change: font-weight;
            cursor: pointer;
            color: $primary ;
                &:hover{
                    font-weight: 1000;
                }

            
        }
       
        
    }
}

@for $i from 1 through 2{
    .restaurant-card-#{$i}{
        
        .new-icon{
            color: black;
            font-size: 17px;
            padding: 1px 10px;
            background-color: #99E2D0;
            color: #088062;
            position: absolute;
            right: 0px;
            margin-right: 43px;
            margin-top: 26px;

        }
   
    }

}




.restaurant-name{
    margin-top: 10px;
    line-height: 25px;
    padding: 3px 0 0 14px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
}

footer{
    
    background-color: #353535;
    color: white;
    padding: 20px;
    z-index: 10000;
    position: relative;


    
        ul{
            list-style-type: none;
            li{
                margin-top: 10px;
            }
            
        }
        h1{
            font-size: 1.3em;
            font-family: $brandname-font;
            font-weight: 400;
            color: white;
        }

        a{
            
            color: white;
        }

        .fa-hands-helping{
            margin-right: 10px;
        }
        .fa-utensils{
            margin-right: 13px;
        }

}


.main-container{
    display: flex;
    flex-direction: column;
    background-color: $color-backgrey;
    height: 100%;
    
}
/* menu*/

header img{
    overflow: hidden;
    object-fit: cover;
    height: auto;
    width: 100%;
}

.main-menu-header{
    @extend %align-center-between;
        .far{
            margin-right: 20px;
        }
}
.hr-title{
width: 10%;
margin: 5px 0 0 19px;
height: 3px;
background-color: $tertiaire;
border: none;
}

.main-menu{
    height: 100%;
    background-color: $color-backgrey;
    border-radius: 34px;
    z-index: 2;
    position: relative;
    
    
    top: -48px;
    width: 100%;
    height: 100%;
    
        h1{
            font-family: $brandname-font;
            padding: 23px 0 0 15px;
            margin-bottom: 20px;
            font-size: 1.2em;
            
        }
        h3{
            margin-left: 18px;
        }
    

}

.title-underline{
    border-bottom: 3px solid $tertiaire;
}

.item-title{
    font-size: 1.2em;
}


/* vignette des menus */
@for $i from 1 through 4 {
    .starter-#{$i},.main_course-#{$i}, .dessert-#{$i} {
        @extend %menu-container;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        transition-duration: 0.5s ;
        transition-property: padding-right; 
            
        &:hover{
            padding-right: 20%;
            
            background-clip: content-box;
            background-image: red;
            
        }  
    }




    .starter-1,
    .starter-2,
    .starter-3, 
    .starter-4, 
    .main_course-1,
    .main_course-2, 
    .main_course-3, 
    .dessert-1, 
    .dessert-2, 
    .dessert-3{
        animation: fadeIn 0.60s ease-out both;
        opacity: 0; 
    }

    .starter-1{
        animation-delay: 0.25s;
    }
    .starter-2{
        animation-delay: 0.35s;
    }
    .starter-3{
        animation-delay: 0.45s;
    }

    .starter-4{
        animation-delay: 0.50s;
    }

    .main_course-1{
        animation-delay: 0.55s;
    }
    .main_course-2{
        animation-delay: 0.65s;
    }
    .main_course-3{
        animation-delay: 0.75s;
    }

    .dessert-1{
        animation-delay: 0.85s;
    }
    .dessert-2{
        animation-delay: 0.95s;
    }
    .dessert-3{
        animation-delay: 1.05s;
    }
  

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, +15%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
         
}

.starter-section, .main_course-section, {
    margin-bottom: 50px;
}

.order-section{
   @extend %flex-center-column;
   margin: 15px 0 -14px 0;
}

.item-subtitle, .item-title{
    display: flex;
    justify-content: space-between;
    width:100%;
}


.first{
    width: 100px;
    height: 100px;
    /* top: 0; */
    position: absolute;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #FF79DA;
    border-bottom: none;
    border-right: none;
    border-top: none;
    transform: rotate(0deg);
    animation: rot2 5s ease-in-out infinite;
}

.second{
    width: 100px;
    height: 100px;
    /* top: 0; */
    position: absolute;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #7c0bfd;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transform: rotate(0deg);
    animation: rot2 5s ease-in-out infinite;

}

.third{
    width: 100px;
    height: 100px;
    /* top: 0; */
    position: absolute;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #FF79DA;
    border-bottom: none;
    border-right: none;
    border-top: none;
    transform: rotate(0deg);
    animation: rot2 5s ease-in-out infinite;

}

.fourth{
    width: 100px;
    height: 100px;
    position: absolute;
    /* top: -201px; */
    align-items: center;
    border-radius: 50%;
    border: 10px solid #f2f2F2;
    border-left: none;
    border-right: none;
    border-top: none;
    transform: rotate(0deg);
    animation: rot4 2s ease-in-out infinite;

}


@keyframes rot1{
    50% {
        transform: rotate(405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
    
}

@keyframes rot2{
    50% {
        transform: rotate(405deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}

@keyframes rot3{
    50% {
        transform: rotate(405deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}

@keyframes rot4{
    50% {
        transform: rotate(405deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}

.title-spinner{
    font-family: $brandname-font;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.spinner-loader{
    position: relative;
    display: block;
    top: 50%;
    height: 100px;
    transform: translate(0, -50px);
    margin: 0 auto;
    width: 100px;
    animation-name: fadeowt;
    animation-delay: 3s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.loader-body{
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    position: absolute;
    display: none;
    
    
}



@keyframes fadeowt{
    0%{
        opacity: 1;
    }

     to{
         opacity: 0;
         display: none;
     }
}





@media screen and (min-width: 1025px){

    header img{
        height: 300px;
    }

    .main-menu-header{
        justify-content: center;
            h1{
                margin-right: 10px;
                transform: translate(23px, 0px);
            }

            .far{
                margin-left: 29px;
            }

    }

    .main-menu{
        text-align: center;
        display: block;
        margin-left: 0 auto;
    }

    .steps{
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
            h2{
                width: 100%;

                text-align: center;
            }
    }

    .wrapper{
        display: flex;
        height: 100%;

    }

    .card-bloc{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        /* margin: 40px 0 0 0; */
        padding: 95px 0 10px 0;
        flex-wrap: wrap;
        background-color: white;
    }
    @for $i from 1 through 4 {
        .restaurant-card-#{$i}{
            width: 45%;
            margin: 5px;
        }
        

    }
    @for $i from 1 through 3 {
        .btn-navigation_step-#{$i} {
            width: 100%;
            justify-content: center;
            padding: 0 36px 0 0;
            margin-left: 30px;
            
        }
    }

    .starter-section, .main_course-section, .dessert-section{
        width: 70%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 560px) and (max-width: 1024px){

    header img{
        height: 300px;
    }

    .main-menu-header{
        justify-content: center;
            h1{
                margin-right: 10px;
                transform: translate(23px, 0px);
            }

            .far{
                margin-left: 29px;
            }

    }

    .main-menu{
        text-align: center;
        display: block;
        margin-left: 0 auto;
    }

    .steps{
        flex-wrap: wrap;
        flex-direction: row;
            h2{
                width: 100%;
                margin-right: 51px;
            }
    }

    .card-bloc{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @for $i from 1 through 4 {
        .restaurant-card-#{$i}{
            width: 48%;
            margin: 5px;
        }
        

    }
    @for $i from 1 through 3 {
        .btn-navigation_step-#{$i} {
            width: 30%;
            justify-content: start;
            padding: 0 36px 0 0;
            
        }
    }

    .starter-section, .main_course-section, .dessert-section{
        width: 70%;
        margin: 0 auto;
    }
}

