@font-face {
  font-family: "shrikhand", "roboto";
  src: url("fonts/Shrikhand-Regular.otf");
  src: url("fonts/Roboto-Regular.ttf"); }
/* PRIMARY */
/* POLICES */
/* box-shadow */
/* FLEX POSITIONNING */
.exploration-title, .exploration-subtitle, .exploration-button, .order-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.starter-1, .main_course-1, .dessert-1, .starter-2, .main_course-2, .dessert-2, .starter-3, .main_course-3, .dessert-3, .starter-4, .main_course-4, .dessert-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.starter-1, .main_course-1, .dessert-1, .starter-2, .main_course-2, .dessert-2, .starter-3, .main_course-3, .dessert-3, .starter-4, .main_course-4, .dessert-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.main-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* BUTTON */
.pink-btn {
  background: linear-gradient(#EE74DA, #9356DC);
  width: 200px;
  height: 50px;
  border-radius: 24px;
  border: none;
  color: white;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  outline: none;
  display: block;
  margin: 0 auto;
  cursor: pointer; }
  .pink-btn:hover {
    transition: all 0.5s ease-out;
    background: linear-gradient(#ee75da, #9559df);
    box-shadow: 0px 12px 15px -4px #7d7d7d; }

.starter-1, .main_course-1, .dessert-1, .starter-2, .main_course-2, .dessert-2, .starter-3, .main_course-3, .dessert-3, .starter-4, .main_course-4, .dessert-4 {
  background-color: #f6f6f6;
  height: 66px;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  border-radius: 18px;
  padding: 0 10px;
  margin: 20px 12px;
  font-weight: bold;
  font-size: 0.9em;
  color: black; }

* {
  margin: 0;
  padding: 0; }

a, h1 {
  text-decoration: none;
  color: black; }

/*
.blur-container{

    overflow: hidden;
    animation-name: fadeblur;
    animation-delay: 3.2s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    filter: blur(8px);

}
@keyframes fadeblur{
 
    100%{
        filter: blur(0);
    }
    
}
*/
body {
  margin: 0;
  width: auto;
  font-family: "roboto"; }

header {
  height: 100%;
  width: 100%;
  background-color: #eaeaea; }

.logo {
  font-family: "shrikhand";
  font-size: 0.9em;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  font-weight: 100;
  display: block;
  background-color: #f6f6f6; }

.logo-container {
  display: flex;
  justify-content: center;
  margin-right: 20px; }
  .logo-container a {
    display: flex;
    padding-right: 43px;
    align-items: center;
    background-color: #eaeaea; }

.input-area {
  color: #eaeaea;
  width: 100%;
  height: auto; }

.input-locality {
  height: 100%;
  font-family: "roboto";
  font-weight: 1000;
  padding: 12px 0;
  background-color: #eaeaea;
  border: none;
  /* margin: 0 15px; */
  /* padding-left: 10px; */
  outline: none; }

.searchbox {
  background-color: #eaeaea;
  display: block;
  text-align: center;
  box-shadow: 0px 7px 9px 0px; }
  .searchbox .fas {
    padding-left: 39px;
    margin-right: 10px; }

.exploration {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  z-index: 3;
  text-align: center; }
  .exploration h2, .exploration h3 {
    margin: 0 0 20px 0;
    font-weight: 700;
    padding: 28px 77px 0 77px;
    margin-bottom: 10px; }
  .exploration p {
    padding: 0 18px;
    margin-bottom: 40px; }

.exploration-title {
  padding: 33px 0 10px 0; }

.exploration-subtitle {
  font-size: 0.8rem;
  margin-bottom: 30px; }

.pink-btn {
  margin: 40px auto 0; }

.btn-navigation_step-1 {
  background-color: #f6f6f6;
  height: 66px;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  border-radius: 18px;
  display: flex;
  justify-content: left;
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
  font-size: 0.9em;
  color: black;
  border: none;
  outline: none; }
  .btn-navigation_step-1:hover {
    background-color: #fffbfb;
    transition: 0.25s;
    box-shadow: 0px 12px 20px -8px #7d7d7d; }
  .btn-navigation_step-1 .fas {
    margin: 0 30px; }
  .btn-navigation_step-1 .step-number {
    position: absolute;
    background-color: #9356DC;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px; }

.btn-navigation_step-2 {
  background-color: #f6f6f6;
  height: 66px;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  border-radius: 18px;
  display: flex;
  justify-content: left;
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
  font-size: 0.9em;
  color: black;
  border: none;
  outline: none; }
  .btn-navigation_step-2:hover {
    background-color: #fffbfb;
    transition: 0.25s;
    box-shadow: 0px 12px 20px -8px #7d7d7d; }
  .btn-navigation_step-2 .fas {
    margin: 0 30px; }
  .btn-navigation_step-2 .step-number {
    position: absolute;
    background-color: #9356DC;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px; }

.btn-navigation_step-3 {
  background-color: #f6f6f6;
  height: 66px;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  border-radius: 18px;
  display: flex;
  justify-content: left;
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
  font-size: 0.9em;
  color: black;
  border: none;
  outline: none; }
  .btn-navigation_step-3:hover {
    background-color: #fffbfb;
    transition: 0.25s;
    box-shadow: 0px 12px 20px -8px #7d7d7d; }
  .btn-navigation_step-3 .fas {
    margin: 0 30px; }
  .btn-navigation_step-3 .step-number {
    position: absolute;
    background-color: #9356DC;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10px; }

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 10px;
  margin: 10px 14px; }
  .steps h2 {
    margin: 30px 0 20px 0; }

.card-bloc {
  background-color: #f6f6f6;
  height: 100%;
  padding-bottom: 50px; }

.restaurant-card {
  background-color: black;
  height: 150px;
  margin: 20px 24px;
  border-radius: 19px; }

.restaurant-card-1 {
  height: 252px;
  position: relative;
  background-color: white;
  border-radius: 19px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70% 30%;
  width: 90%;
  margin: 25px auto 0 auto; }
  .restaurant-card-1 img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%; }
  .restaurant-card-1 h4 {
    font-weight: 400;
    opacity: 0.8; }
  .restaurant-card-1 .far {
    width: 0;
    height: 0;
    grid-row-start: 2;
    padding: 28px 0 0 67px;
    font-weight: 100;
    transition: font-weight 1sec ease-in;
    will-change: font-weight;
    cursor: pointer;
    color: #9356DC; }
    .restaurant-card-1 .far:hover {
      /* hover coeur */ }

.restaurant-card-2 {
  height: 252px;
  position: relative;
  background-color: white;
  border-radius: 19px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70% 30%;
  width: 90%;
  margin: 25px auto 0 auto; }
  .restaurant-card-2 img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%; }
  .restaurant-card-2 h4 {
    font-weight: 400;
    opacity: 0.8; }
  .restaurant-card-2 .far {
    width: 0;
    height: 0;
    grid-row-start: 2;
    padding: 28px 0 0 67px;
    font-weight: 100;
    transition: font-weight 1sec ease-in;
    will-change: font-weight;
    cursor: pointer;
    color: #9356DC; }
    .restaurant-card-2 .far:hover {
      /* hover coeur */ }

.restaurant-card-3 {
  height: 252px;
  position: relative;
  background-color: white;
  border-radius: 19px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70% 30%;
  width: 90%;
  margin: 25px auto 0 auto; }
  .restaurant-card-3 img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%; }
  .restaurant-card-3 h4 {
    font-weight: 400;
    opacity: 0.8; }
  .restaurant-card-3 .far {
    width: 0;
    height: 0;
    grid-row-start: 2;
    padding: 28px 0 0 67px;
    font-weight: 100;
    transition: font-weight 1sec ease-in;
    will-change: font-weight;
    cursor: pointer;
    color: #9356DC; }
    .restaurant-card-3 .far:hover {
      /* hover coeur */ }

.restaurant-card-4 {
  height: 252px;
  position: relative;
  background-color: white;
  border-radius: 19px;
  overflow: hidden;
  box-shadow: 0px 8px 16px -13px #7d7d7d;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70% 30%;
  width: 90%;
  margin: 25px auto 0 auto; }
  .restaurant-card-4 img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%; }
  .restaurant-card-4 h4 {
    font-weight: 400;
    opacity: 0.8; }
  .restaurant-card-4 .far {
    width: 0;
    height: 0;
    grid-row-start: 2;
    padding: 28px 0 0 67px;
    font-weight: 100;
    transition: font-weight 1sec ease-in;
    will-change: font-weight;
    cursor: pointer;
    color: #9356DC; }
    .restaurant-card-4 .far:hover {
      /* hover coeur */ }

.restaurant-card-1 .new-icon {
  color: black;
  font-size: 17px;
  padding: 1px 10px;
  background-color: #99E2D0;
  color: #088062;
  position: absolute;
  right: 0px;
  margin-right: 43px;
  margin-top: 26px; }

.restaurant-card-2 .new-icon {
  color: black;
  font-size: 17px;
  padding: 1px 10px;
  background-color: #99E2D0;
  color: #088062;
  position: absolute;
  right: 0px;
  margin-right: 43px;
  margin-top: 26px; }

.restaurant-name {
  margin-top: 10px;
  line-height: 25px;
  padding: 3px 0 0 14px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 3; }

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
  z-index: 10000;
  position: relative; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      margin-top: 10px; }
  footer h1 {
    font-size: 1.3em;
    font-family: "shrikhand";
    font-weight: 400;
    color: white; }
  footer a {
    color: white; }
  footer .fa-hands-helping {
    margin-right: 10px; }
  footer .fa-utensils {
    margin-right: 13px; }

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  height: 100%; }

/* menu*/
header img {
  overflow: hidden;
  object-fit: cover;
  height: auto;
  width: 100%; }

.main-menu-header .far {
  margin-right: 20px; }

.hr-title {
  width: 10%;
  margin: 5px 0 0 19px;
  height: 3px;
  background-color: #99E2D0;
  border: none; }

.main-menu {
  height: 100%;
  background-color: #eaeaea;
  border-radius: 34px;
  z-index: 2;
  position: relative;
  top: -48px;
  width: 100%;
  height: 100%; }
  .main-menu h1 {
    font-family: "shrikhand";
    padding: 23px 0 0 15px;
    margin-bottom: 20px;
    font-size: 1.2em; }
  .main-menu h3 {
    margin-left: 18px; }

.title-underline {
  border-bottom: 3px solid #99E2D0; }

/* vignette des menus */
.starter-1, .main_course-1, .dessert-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .starter-1:hover .circle, .starter-1:hover .price-checkblock, .main_course-1:hover .circle, .main_course-1:hover .price-checkblock, .dessert-1:hover .circle, .dessert-1:hover .price-checkblock {
    animation: slide 0.8s forwards;
    display: flex; }
    .starter-1:hover .circle .fas, .starter-1:hover .price-checkblock .fas, .main_course-1:hover .circle .fas, .main_course-1:hover .price-checkblock .fas, .dessert-1:hover .circle .fas, .dessert-1:hover .price-checkblock .fas {
      animation: arotate 0.6s forwards; }

.item-title {
  font-size: 1.2em; }

.item-price-p {
  margin: 0 auto; }

.price-checkblock {
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
  display: flex; }

@keyframes arotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide {
  from {
    width: 0%; }
  to {
    width: 60%; } }
.circle {
  height: 100%;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0 18px 18px 0;
  display: none;
  color: white;
  cursor: pointer; }

.starter-1,
.starter-2,
.starter-3,
.starter-4,
.main_course-1,
.main_course-2,
.main_course-3,
.dessert-1,
.dessert-2,
.dessert-3 {
  animation: fadeIn 0.60s ease-out both;
  opacity: 0; }

.starter-1 {
  animation-delay: 0.25s; }

.starter-2 {
  animation-delay: 0.35s; }

.starter-3 {
  animation-delay: 0.45s; }

.starter-4 {
  animation-delay: 0.50s; }

.main_course-1 {
  animation-delay: 0.55s; }

.main_course-2 {
  animation-delay: 0.65s; }

.main_course-3 {
  animation-delay: 0.75s; }

.dessert-1 {
  animation-delay: 0.85s; }

.dessert-2 {
  animation-delay: 0.95s; }

.dessert-3 {
  animation-delay: 1.05s; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.starter-2, .main_course-2, .dessert-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .starter-2:hover .circle, .starter-2:hover .price-checkblock, .main_course-2:hover .circle, .main_course-2:hover .price-checkblock, .dessert-2:hover .circle, .dessert-2:hover .price-checkblock {
    animation: slide 0.8s forwards;
    display: flex; }
    .starter-2:hover .circle .fas, .starter-2:hover .price-checkblock .fas, .main_course-2:hover .circle .fas, .main_course-2:hover .price-checkblock .fas, .dessert-2:hover .circle .fas, .dessert-2:hover .price-checkblock .fas {
      animation: arotate 0.6s forwards; }

.item-title {
  font-size: 1.2em; }

.item-price-p {
  margin: 0 auto; }

.price-checkblock {
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
  display: flex; }

@keyframes arotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide {
  from {
    width: 0%; }
  to {
    width: 60%; } }
.circle {
  height: 100%;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0 18px 18px 0;
  display: none;
  color: white;
  cursor: pointer; }

.starter-1,
.starter-2,
.starter-3,
.starter-4,
.main_course-1,
.main_course-2,
.main_course-3,
.dessert-1,
.dessert-2,
.dessert-3 {
  animation: fadeIn 0.60s ease-out both;
  opacity: 0; }

.starter-1 {
  animation-delay: 0.25s; }

.starter-2 {
  animation-delay: 0.35s; }

.starter-3 {
  animation-delay: 0.45s; }

.starter-4 {
  animation-delay: 0.50s; }

.main_course-1 {
  animation-delay: 0.55s; }

.main_course-2 {
  animation-delay: 0.65s; }

.main_course-3 {
  animation-delay: 0.75s; }

.dessert-1 {
  animation-delay: 0.85s; }

.dessert-2 {
  animation-delay: 0.95s; }

.dessert-3 {
  animation-delay: 1.05s; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.starter-3, .main_course-3, .dessert-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .starter-3:hover .circle, .starter-3:hover .price-checkblock, .main_course-3:hover .circle, .main_course-3:hover .price-checkblock, .dessert-3:hover .circle, .dessert-3:hover .price-checkblock {
    animation: slide 0.8s forwards;
    display: flex; }
    .starter-3:hover .circle .fas, .starter-3:hover .price-checkblock .fas, .main_course-3:hover .circle .fas, .main_course-3:hover .price-checkblock .fas, .dessert-3:hover .circle .fas, .dessert-3:hover .price-checkblock .fas {
      animation: arotate 0.6s forwards; }

.item-title {
  font-size: 1.2em; }

.item-price-p {
  margin: 0 auto; }

.price-checkblock {
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
  display: flex; }

@keyframes arotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide {
  from {
    width: 0%; }
  to {
    width: 60%; } }
.circle {
  height: 100%;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0 18px 18px 0;
  display: none;
  color: white;
  cursor: pointer; }

.starter-1,
.starter-2,
.starter-3,
.starter-4,
.main_course-1,
.main_course-2,
.main_course-3,
.dessert-1,
.dessert-2,
.dessert-3 {
  animation: fadeIn 0.60s ease-out both;
  opacity: 0; }

.starter-1 {
  animation-delay: 0.25s; }

.starter-2 {
  animation-delay: 0.35s; }

.starter-3 {
  animation-delay: 0.45s; }

.starter-4 {
  animation-delay: 0.50s; }

.main_course-1 {
  animation-delay: 0.55s; }

.main_course-2 {
  animation-delay: 0.65s; }

.main_course-3 {
  animation-delay: 0.75s; }

.dessert-1 {
  animation-delay: 0.85s; }

.dessert-2 {
  animation-delay: 0.95s; }

.dessert-3 {
  animation-delay: 1.05s; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.starter-4, .main_course-4, .dessert-4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .starter-4:hover .circle, .starter-4:hover .price-checkblock, .main_course-4:hover .circle, .main_course-4:hover .price-checkblock, .dessert-4:hover .circle, .dessert-4:hover .price-checkblock {
    animation: slide 0.8s forwards;
    display: flex; }
    .starter-4:hover .circle .fas, .starter-4:hover .price-checkblock .fas, .main_course-4:hover .circle .fas, .main_course-4:hover .price-checkblock .fas, .dessert-4:hover .circle .fas, .dessert-4:hover .price-checkblock .fas {
      animation: arotate 0.6s forwards; }

.item-title {
  font-size: 1.2em; }

.item-price-p {
  margin: 0 auto; }

.price-checkblock {
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
  display: flex; }

@keyframes arotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide {
  from {
    width: 0%; }
  to {
    width: 60%; } }
.circle {
  height: 100%;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  border-radius: 0 18px 18px 0;
  display: none;
  color: white;
  cursor: pointer; }

.starter-1,
.starter-2,
.starter-3,
.starter-4,
.main_course-1,
.main_course-2,
.main_course-3,
.dessert-1,
.dessert-2,
.dessert-3 {
  animation: fadeIn 0.60s ease-out both;
  opacity: 0; }

.starter-1 {
  animation-delay: 0.25s; }

.starter-2 {
  animation-delay: 0.35s; }

.starter-3 {
  animation-delay: 0.45s; }

.starter-4 {
  animation-delay: 0.50s; }

.main_course-1 {
  animation-delay: 0.55s; }

.main_course-2 {
  animation-delay: 0.65s; }

.main_course-3 {
  animation-delay: 0.75s; }

.dessert-1 {
  animation-delay: 0.85s; }

.dessert-2 {
  animation-delay: 0.95s; }

.dessert-3 {
  animation-delay: 1.05s; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.starter-section, .main_course-section {
  margin-bottom: 50px; }

.order-section {
  margin: 15px 0 -14px 0; }

.item-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden; }
  .item-subtitle h4, .item-subtitle p {
    text-overflow: ellipsis; }

.first {
  width: 100px;
  height: 100px;
  position: absolute;
  align-items: center;
  border-radius: 50%;
  border: 10px solid #FF79DA;
  border-bottom: none;
  border-right: none;
  border-top: none;
  transform: rotate(0deg);
  animation: rot2 5s ease-in-out infinite; }

.second {
  width: 100px;
  height: 100px;
  /* top: 0; */
  position: absolute;
  align-items: center;
  border-radius: 50%;
  border: 10px solid #7c0bfd;
  border-left: none;
  border-right: none;
  border-bottom: none;
  transform: rotate(0deg);
  animation: rot2 5s ease-in-out infinite; }

.third {
  width: 100px;
  height: 100px;
  /* top: 0; */
  position: absolute;
  align-items: center;
  border-radius: 50%;
  border: 10px solid #FF79DA;
  border-bottom: none;
  border-right: none;
  border-top: none;
  transform: rotate(0deg);
  animation: rot2 5s ease-in-out infinite; }

.fourth {
  width: 100px;
  height: 100px;
  position: absolute;
  /* top: -201px; */
  align-items: center;
  border-radius: 50%;
  border: 10px solid #f2f2F2;
  border-left: none;
  border-right: none;
  border-top: none;
  transform: rotate(0deg);
  animation: rot4 2s ease-in-out infinite; }

@keyframes rot1 {
  50% {
    transform: rotate(405deg); }
  100% {
    transform: rotate(-405deg); } }
@keyframes rot2 {
  50% {
    transform: rotate(405deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes rot3 {
  50% {
    transform: rotate(405deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes rot4 {
  50% {
    transform: rotate(405deg); }
  100% {
    transform: rotate(0deg); } }
.title-spinner {
  font-family: "shrikhand";
  font-weight: bold;
  display: flex;
  justify-content: center; }

.spinner-loader {
  z-index: 999999;
  position: relative;
  display: block;
  top: 50%;
  height: 100px;
  transform: translate(0, -50px);
  margin: 0 auto;
  width: 100px;
  animation-name: fadeowt;
  animation-delay: 3s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.loader-body {
  filter: blur(0);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  z-index: 1000000;
  position: absolute;
  animation-name: fadeowt;
  animation-delay: 3.1s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  display: block; }

@keyframes fadeowt {
  100% {
    visibility: hidden; } }
@media screen and (min-width: 1025px) {
  body {
    overflow-x: hidden; }

  header img {
    height: 300px; }

  .main-menu-header {
    justify-content: center; }
    .main-menu-header h1 {
      margin-right: 10px;
      transform: translate(23px, 0px); }
    .main-menu-header .far {
      margin-left: 29px; }

  .main-menu {
    text-align: center;
    display: block;
    margin-left: 0 auto; }

  .steps {
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%; }
    .steps h2 {
      width: 100%;
      text-align: center; }

  .wrapper {
    display: flex;
    height: 100%; }

  .card-bloc {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* margin: 40px 0 0 0; */
    padding: 95px 0 10px 0;
    flex-wrap: wrap;
    background-color: white; }

  .restaurant-card-1 {
    width: 45%;
    margin: 5px; }

  .restaurant-card-2 {
    width: 45%;
    margin: 5px; }

  .restaurant-card-3 {
    width: 45%;
    margin: 5px; }

  .restaurant-card-4 {
    width: 45%;
    margin: 5px; }

  .btn-navigation_step-1 {
    width: 100%;
    justify-content: center;
    padding: 0 36px 0 0;
    margin-left: 30px; }

  .btn-navigation_step-2 {
    width: 100%;
    justify-content: center;
    padding: 0 36px 0 0;
    margin-left: 30px; }

  .btn-navigation_step-3 {
    width: 100%;
    justify-content: center;
    padding: 0 36px 0 0;
    margin-left: 30px; }

  .starter-section, .main_course-section, .dessert-section {
    width: 70%;
    margin: 0 auto; } }
@media screen and (min-width: 560px) and (max-width: 1024px) {
  header img {
    height: 300px; }

  .main-menu-header {
    justify-content: center; }
    .main-menu-header h1 {
      margin-right: 10px;
      transform: translate(23px, 0px); }
    .main-menu-header .far {
      margin-left: 29px; }

  .main-menu {
    text-align: center;
    display: block;
    margin-left: 0 auto; }

  .steps {
    flex-wrap: wrap;
    flex-direction: row; }
    .steps h2 {
      width: 100%;
      margin-right: 51px; }

  .card-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }

  .restaurant-card-1 {
    width: 48%;
    margin: 5px; }

  .restaurant-card-2 {
    width: 48%;
    margin: 5px; }

  .restaurant-card-3 {
    width: 48%;
    margin: 5px; }

  .restaurant-card-4 {
    width: 48%;
    margin: 5px; }

  .btn-navigation_step-1 {
    width: 30%;
    justify-content: start;
    padding: 0 36px 0 0; }

  .btn-navigation_step-2 {
    width: 30%;
    justify-content: start;
    padding: 0 36px 0 0; }

  .btn-navigation_step-3 {
    width: 30%;
    justify-content: start;
    padding: 0 36px 0 0; }

  .starter-section, .main_course-section, .dessert-section {
    width: 70%;
    margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
